{% include 'layout.html' %}
{% block content %}
    {% load static %} 
    <img src="{% static 'portfolio/imagenes/1.png' %}">
    <img src="{% static 'portfolio/imagenes/2.png' %}">
    <img src="{% static 'portfolio/imagenes/3.png' %}">
    <img src="{% static 'portfolio/imagenes/4.png' %}">
    <img src="{% static 'portfolio/imagenes/5.png' %}">
    <img src="{% static 'portfolio/imagenes/6.png' %}">
    <img src="{% static 'portfolio/imagenes/7.png' %}">
    <img src="{% static 'portfolio/imagenes/8.png' %}">
    <img src="{% static 'portfolio/imagenes/9.png' %}">
    <img src="{% static 'portfolio/imagenes/10.png' %}">
    <img src="{% static 'portfolio/imagenes/11.png' %}">
    <img src="{% static 'portfolio/imagenes/12.png' %}">
    <img src="{% static 'portfolio/imagenes/13.png' %}">
    <img src="{% static 'portfolio/imagenes/14.png' %}">
    <img src="{% static 'portfolio/imagenes/15.png' %}">
    <img src="{% static 'portfolio/imagenes/16.png' %}">
    <img src="{% static 'portfolio/imagenes/17.png' %}">
    <img src="{% static 'portfolio/imagenes/18.png' %}">
    <img src="{% static 'portfolio/imagenes/19.png' %}">
    <img src="{% static 'portfolio/imagenes/20.png' %}">
    <img src="{% static 'portfolio/imagenes/21.png' %}">
{% endblock %}